.about{
  background: #f6f6f6;
  color: #185F65;
  @media screen and (width < 300px){
    .top .head {
      p {
        font-size: 30px;
      }
    }
    .text {
      p {
        font-size: 20px;
      }
    }
  }
  @media screen and (300px < width < 450px){
    .top .head{
      span{

      }
      p{
        font-size: 30px;
      }

    }
    .text{
      p{
        font-size: 24px;
        width: fit-content;
      }
    }
  }
  @media screen and (450px < width < 769px){
    .head{
      p{
        font-size: 30px;
      }
    }
    span{

    }
    .text{
      p{
        font-size: 30px;
      }
    }
  }
  @media screen and (width > 768px) and (orientation:portrait)  {
    .mobile-seeds{
      .head{
        img{
          left: 10vw;
          max-width: 100%;
        }
      }

    }

    .underscored{
      font-size: 40px;
    }
    .head{
      p{
        font-size: 50px;
      }
    }
    .text{
      p{
        font-size: 50px;
      }
    }
  }
  @media screen and (max-width: 768px), (orientation:portrait) {
    height: fit-content;
    padding-bottom: 5vh;

    .wrapper + .bottom{
      width: 0;
      height: 0;
      visibility: hidden;
    }
    .top{
      .underscored{
        position: relative;
        bottom: 3vh;
        margin-bottom: 3vh;
      }
      .head{
        margin-bottom: 5px;
        p{
          letter-spacing: -0.04em;
          padding-right: 0.8vw;
          line-height: 90%;
        }
      }
    }

    .mobile-seeds{
      background: white;
      width: 90vw;
      height: 90vh;
      margin: 10vh auto 0 auto;
      .head{
        height: 45vh;
      }
      .underscored{
        position: relative;
        left: 10vw;
        top: 10vw;
      }
      h1{
        font-weight: 800;
        font-size: 42px;
        margin-bottom: 20px;
      }
      p{
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
      }
      .controls{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 5vh;
      }

      .info, .controls{
        width: 80%;
        margin: 0 auto;
        img{
          height: 25px;
        }
        .buttons{
          display: flex;
          span{
            height: 8px;
            width: 8px;
            margin: 0 3px;
            background: #185F65;
            border: 2px solid #185F65;
            border-radius: 50%;
          }
          .active{
            background-color: transparent;
          }
        }
      }
      .head{
        img{
          position: relative;
          max-width: 55vw;
          max-height: 60vh;

          left: 30vw;
          bottom: 16vh;
        }
      }
    }
    .mobile-partners{
      background: white;
      width: 90vw;
      margin: 10vh auto 0 auto;
      height: 90vw;
      display: flex;
      justify-content: center;
      align-items: center;
      img{

      }
      p{
        position: absolute;
        right: 8vw;
        bottom: 9vh;
      }
    }
    .middle{
      padding-top: 7vh;
    }
    .btn{
      visibility: hidden;
      width: 0;
      height: 0;
    }
    .wrapper{
      width: 90vw;
      margin: 0 auto;
    }
    span{
      font-size: 12vw;
      font-weight: 300;
    }
    .slider{
      width: 0;
      height: 0;
      visibility: hidden;
    }

  }
  @media screen and (min-width: 768px) and (orientation:landscape) {
    height: 200vh;
    .bottom{
      padding-top: 20vh;
    }
    .underscored{
      position: relative;
      top: 6vh;
      left: 10vw;
    }
    .mobile-partners, .mobile-seeds{
      width: 0;
      height: 0;
      visibility: hidden;
    }
    .image{
      img{
        height: 60vh;
      }
    }
    .middle{
      margin-top: 12.2vh;
    }
    .text{
      margin-left: auto;
      margin-bottom: 7vh;
      p{
        font-size: 48px;
      }
    }
    span{
      font-size: 79px;
      position: relative;
      bottom: 0.2vh;
      left: 0.2vw;
    }
    .head{
      p{
        font-size: 48px;
      }
    }
    .wrapper{
      width: calc(100vw - 120px);
    }
    .info{
      top: 2.3vh;
      right: 12vw;
    }
    .slider{
      width: 80vw;
      height: 49.3vh;
    }
  }
  .wrapper{
    display: flex;
    margin: 0 auto;
  }
  .underscored{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    text-decoration-line: underline;
    text-transform: none;
  }
  .top{
    padding: 6vh 0 0 0;
    flex-direction: column;
    .head{
      display: flex;
      flex-direction: row;
      align-items: center;
      max-height: 48px;
      p{
        &:nth-child(1){
          position: relative;
        }

          margin-left: auto;
          font-weight: 600;
          text-align: end;
          letter-spacing: -0.04em;
          padding-right: 0.8vw;
          line-height: 90%;

      }
    }
    .text{
      display: flex;
      justify-content: end;
      p{
        align-self: end;
        line-height: 100%;
        text-transform: uppercase;
        letter-spacing: -0.04em;
      }
    }
  }

  .middle{
    flex-direction: row;
    align-items: center;
    .slider{
      .slider-control-centerleft{
        position: relative;

        left: 300px;
        button{
          width: 120px;
          height: 120px;
          border-radius: 100px;
          opacity: 1;
          font-size: 30px;

        }
      }
      .slider-container{
        right: 300px;
      }
      .item{
        max-height: 49.3vh;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        &.partners{
          height: 100%;
          img{
            width: 140px;
            height: 140px;
          }
        }
      }
      .slider-container{
        height: 100%;

      }
    }
    .info{
      min-width: 18vw;
      font-style: normal;
      line-height: 19px;
      display: flex;
      flex-direction: column;
      position: relative;
      .btn{
        padding: 10px 0;
        margin-top: 4vh;
        svg{
          margin-left: 13px;
        }
      }
    }
  }

  .bottom{
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
    .item{
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      h1{
        font-size: 60px;
        font-weight: 800;
        color: #2B2A29;
        line-height: 85.02%;
      }

      .info{
        width: 21.8vw;
        margin-left: 10vw;
        p{
          margin: 4vh 0;
        }
      }
    }
    .image{
      width: 40vw;
      height: 50vh;
      background: white;

    }
  }

  span{
   font-weight: 300;
    line-height: 0.1;
  }
  text-align: start;
}