.agro-video{
  height: 100vh;
  background: #185F65;
  color: #D4A95A;
  display: flex;
  .embla-desktop {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    min-width: 0;
  }
  @media screen and (width > 768px) {

  }
  @media screen and (width <= 768px) {
    div .title{
      align-self: start;
      position: relative;
      right: 4vw;
      bottom: 8vh;
    }
    .wrapper{
      width: 80vw;
      justify-content: center;
      margin: 0 auto;
    }
    .info{

      width: 75vw;
      align-self: start;

    }
    .embla__slide{
      flex: 0 0 30%;
      >div{
        width: 80vw;
        height: 50vh;
      }
    }
  }
  @media screen and (768px < width < 1367px){
    justify-content: center;
    .title{
      position: relative;
      right: 40vw;
      top: 4%;
    }
    .info{
      width: 35vw;
    }
    h1{
      font-size: 53px;
    }
    .embla__slide{

      >div{
        width: 30vw;
        height: 38vh;
      }
    }
  }
  @media screen and (1367px < width < 1700px){
    h1{
      font-size: 53px;
    }
    .embla__slide{
      >div{
        width: 35vw;
        height: 38vh;
      }
    }
  }
  @media screen and (min-width: 1700px){
    h1{
      font-size: 60px;
    }
    .embla__slide{
      >div{
        width: 40vw;
        height: 50vh;
      }
    }
  }
  @media screen and (width > 1367px){
    align-items: center;
    .embla__slide{
      flex: 0 0 25%;
    }
    .embla__next{
      height: 120px;
      width: 120px;
      border-radius: 100px;
      border: none;
      background: #D4A95A;
      position: relative;
      bottom: 50%;
      left: 23.3%;
    }

    .title{
      margin-left: 60px;
      position: relative;
      top: 1vh;
    }

    .wrapper{
      flex-direction: row;
      .info{
        max-width: 25vw;
        margin-left: 6vw;
        margin-right: 6vw;
        p{
          margin: 45px 0;
        }
      }
    }
  }
  @media screen and (width < 1367px){
    .embla-desktop{

    }


    .btn{
      visibility: hidden;
    }
    .embla-desktop{
      .embla__slide{
        flex: 0 0 40%;

      }

    }
    h1{
      font-size: 48px;
    }
    .wrapper{
      flex-direction: column;
      align-items: center;
      .info{
        margin-top: 5%;
        margin-bottom: 5%;
        h1{
          font-size: 42px;
          margin-bottom: 5%;
        }
      }
    }
  }
  h1{
    font-weight: 800;
    line-height: 85.02%;
    letter-spacing: -0.055em;
  }
  p{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
  .wrapper{
    display: flex;
    .info{
      display: flex;
      flex-direction: column;
    }
  }
  .btn{
    color: #D4A95A;
  }
}