.about{
  height: 200vh;
  background: #f6f6f6;

  p{
    color: #1E1E1E;
  }

  .wrapper{
    display: flex;
    width: calc(100vw - 120px);
    margin: 0 auto;
  }
  .underscored{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    text-decoration-line: underline;
    text-transform: none;
  }
  .top{
    padding: 9.4vh 0 0 0;
    flex-direction: column;
    .head{
      display: flex;
      align-items: center;
      max-height: 48px;
      p{

        &:nth-child(1){

          position: relative;
          bottom: 1.4vh;
        }
        &:nth-child(2){
          font-size: 48px;
          margin-left: auto;
          font-weight: 600;
          text-align: end;
          letter-spacing: -0.04em;
          padding-right: 0.8vw;
          line-height: 90%;
        }
      }
    }
    .text{
      margin-left: auto;
      padding-right: 40px;
      p{
        line-height: 100%;
        font-size: 48px;
        text-transform: uppercase;
        letter-spacing: -0.04em;

      }
    }
  }

  .middle{
    flex-direction: row;
    align-items: center;
    margin-top: 12.2vh;
    .slider{
      width: 80vw;
      height: 49.3vh;
      .slider-control-centerleft{
        position: relative;

        left: 300px;
        button{
          width: 120px;
          height: 120px;
          border-radius: 100px;
          opacity: 1;
          font-size: 30px;

        }
      }
      .slider-container{
        right: 300px;
      }
      .item{
        max-height: 49.3vh;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        &.partners{
          height: 100%;
          img{
            width: 140px;
            height: 140px;
          }
        }
      }
      .slider-container{
        height: 100%;

      }
    }
    .info{
      min-width: 18vw;
      font-style: normal;
      line-height: 19px;
      display: flex;
      flex-direction: column;
      position: relative;
      top: 2.3vh;
      right: 12vw;
      .btn{
        padding: 10px 0;
        margin-top: 4vh;
        svg{
          margin-left: 13px;
        }
      }
    }
  }
  //todo: придумать, как выровнять title
  .bottom{
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
    .title{

      width: 21.8vw;
      position: relative;
      top: 35vh;


    }
    .item{
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      h1{
        font-size: 60px;
        font-weight: 800;
        color: #2B2A29;
        line-height: 85.02%;
      }

      .info{
        width: 21.8vw;
        p{
          margin: 4vh 0;
        }
      }
    }
    .image{
      figure{
        width: 42vw;
        height: 51vh;
        position: absolute;
        background: white;
        top: 30%;
        left: 45%;
        img{
          position: relative;
          top: 45vh;
          left: 35vw;
        }
      }
      img{
        mix-blend-mode: darken;
        position: relative;
        left: 100px;
      }
    }
  }

  span{
    font-size: 79px;
    font-weight: 300;
    position: relative;
    bottom: 0.2vh;
    left: 0.2vw;
  }
  text-align: start;
}