@media screen and (max-width: 768px){
  .flex{
    flex-direction: column-reverse;
    .right{
      .wrapper{
        h1{
          margin-top: 8vh;
        }
        .bottom{
          visibility: hidden;
        }
      }
    }
    .left{
      img{
        margin-top: 8vh;
      }
      .wrapper{
        .links{
          margin-top: 25%;
        }
        .bottom{
          position: relative;
          top: 25px;
          right: 10vw;
          width: 94vw;
          display: flex;
          justify-content: space-between;
        }
      }
    }
    .right, .left{
      height: 648px;
      .wrapper{
        width: 71vw;
        p{
          font-size: 20px;
        }
        form {
          display: flex;
          flex-direction: column;
          margin-top: 15%;

          input[type="text"] {
            width: 100%;
          }
          input[type="submit"] {
            bottom: 54%;
            left: 88%;
            font-size: 30px;
          }
        }
        b{
          display: block;
        }
        p{
          &:nth-child(2){
            width: 95%;
          }
        }
      }
    }
  }
  .contact{
    flex-direction: row-reverse;
    p{
      margin-left: 24px;
      margin-bottom: 12px;
    }
  }
}
@media screen and (min-width: 769px) {
  .flex {
    .left{
      img{
        margin-top: 7vh;
      }
      .links{
        margin-top: 4vh;
        margin-bottom: 4vh;
      }
      .bottom{
        justify-content: space-between;
      }
    }
    .right{
      h1{
        margin-top: 7vh;
      }

    }
    .left, .right{
      width: 50%;

      height: 66.5vh;
      .wrapper{
        width: calc(50vw - 120px);
        form {
          position: relative;
          margin-top: auto;
          margin-left: auto;
          left: 40px;
          input[type="text"] {
            width: 30vw;
          }
          input[type='submit']{
            top: 5px;
            font-size: 40px;
          }
        }
        h1{
          width: 25vw;
        }
        p{
          &:nth-child(2){
            width: 28vw;
          }
        }
      }
    }
    flex-direction: row;
  }
  .contact{
    svg{
      margin-bottom: 28px;
    }
    p{
      margin-left: 165px;
      margin-bottom: 12px;
    }
  }
}
@media screen and (max-width: 1366px) and (min-width: 768px) {
  .contact{
    flex-direction: column;
  }
  .left{
    .links{
      margin-left: 10vw;
    }
    .contacts{
      p{
        font-size: 18px;
      }
    }
  }
  .right{
    h1{
      font-size: 22px;
    }
    p{
      font-size: 15px;
    }
    .bottom{
      p{
        font-size: 13px;
      }
    }
    form{
      input[type="text"]{
        &::placeholder{
          font-size: 15px;
        }
      }

    }
  }
}
@media screen and (min-width: 1366px) {
  .contact{
    flex-direction: column;
  }
  .left{
    .contacts{
      p{
        font-size: 20px;
      }
    }
  }
  .right{
    h1{
      font-size: 32px;
    }
    p{
      font-size: 22px;
    }
    .bottom{
      p{
        font-size: 14px;
      }
    }
    form{
      input[type="text"]{
        width: 22.4vw;
        &::placeholder{
          font-size: 16px;
        }
      }
    }
  }
  .flex {
    .left {
      .links {
        margin-left: 20.3vw;

      }
    }
  }
}

.footer{
  background: white;
  display: flex;
  flex-direction: column;
  .flex {
    display: flex;
  }
  .contact{
    width: 100%;
    height: 31vh;
    background: #D4A95A;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
      color: white;
      text-transform: uppercase;
      position: relative;
      font-weight: 700;
      font-size: 14px;
    }
  }

  .wrapper{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .left{
    img{
      margin-bottom: 60px;
      align-self: start;
    }
    .contacts{
      p{
        margin: 6px 0;
        line-height: 24px;
        color: #1E1E1E;
        &:nth-child(2){
          text-decoration-line: underline;
        }
      }
    }
    .links{
      display: grid;
      align-items: center;
      grid-template-columns: repeat(2, 1fr);
      a{
        margin: 7px 0;
        max-width: fit-content;
        font-weight: 400;
        font-size: 15px;
        line-height: 110%;
        color: #686868;
      }
    }
    .bottom{
      display: flex;
      margin-top: auto;
      margin-bottom: 40px;
      align-items: center;
      p{
        font-size: 14px;
        line-height: 17px;
        color: #BDBDBD;
        min-width: 168px;
      }
      .social{
        position: relative;
        display: flex;

        svg{
          margin: 0 5px;
        }
      }
    }
  }
  .right{
    background: #1E1E1E;
    color: #686868;
    .wrapper{
      form{
        input[type="text"]{
          background: none;
          border: none;
          border-bottom: 2px solid white;
          height: 50px;
          &::placeholder{
            font-weight: 300;
            line-height: 110%;
            color: #686868;
          }
        }
        input[type="submit"]{
          background: none;
          border: none;
          width: fit-content;
          color: white;
          position: relative;
          right: 40px;
          cursor: pointer;

        }
      }
      h1{
        font-weight: 300;
        line-height: 99%;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        margin-bottom: 50px;
      }
      p{
        font-weight: 400;
        line-height: 120%;
        letter-spacing: -0.03em;
      }
      .bottom{
        display: flex;
        justify-content: space-between;
        margin: 15% 0 45px auto;
        width: 30vw;
        p{
          line-height: 17px;
          width: fit-content;
          &:nth-child(1){
            margin-right: 4.4vw;
          }
        }
      }
    }
  }

}