.fc-menu{
  width: 100vw;
  height: 100vh;
  background: #185F65;
  .wrapper{
    display: flex;
  }
  .head{
    img{
      position: absolute;
      margin-left: 2vw;
      margin-top: 4vh;
    }
    svg{
      position: absolute;
      right: 2vw;
      margin-top: 4vh;
    }
  }
  .left{
    p{
      color: #D4A95A;
      font-style: normal;
      font-weight: 600;
      line-height: 190%;
      letter-spacing: -0.03em;
      width: fit-content;
    }
  }
  .right{
    p{
      line-height: 18px;
      letter-spacing: -0.02em;
      font-weight: 400;
      color: white;
    }
    h1{
      font-weight: 500;
      color: white;
      line-height: 135.5%;
      letter-spacing: -0.03em;
    }
    .email{
      font-weight: 400;
      line-height: 24px;
      text-decoration-line: underline;
    }
    .wrapper{
      display: flex;
      .szr{
        border: 2px solid #D4A95A;
        p{
          color: #D4A95A;
          width: 129px;
          left: 30%;
          top: 10%;
        }
      }
      .seeds{
        background: #D4A95A;
        p{
          color: #185F65;
          left: 65%;
          top: 10%;
          width: 54px;
        }
      }
      .seeds, .szr{
        p{
          position: relative;

          font-weight: 700;
          font-size: 13px;
          line-height: 90%;
          text-align: right;
          letter-spacing: -0.055em;
          text-transform: uppercase;
        }

      }
    }
  }
  @media screen and (width > 789px) {
    .wrapper{
      flex-direction: row;
    }
    .left{
      width: 50vw;
      height: 100vh;
      border-right: 1px solid #D4A95A15;
      div{
        padding: 10vh 0 0 15vw;
        width: fit-content;
      }
      div:nth-child(1){
        p{
          font-size: 40px;
        }
      }
      div:nth-child(2){
        p{
          font-size: 20px;
        }
      }
    }
    .right{
      .email{
        font-size: 20px;
      }
      p{
        font-size: 15px;
      }
      h1{
        font-size: 40px;
      }
      .wrapper{
        .seeds, .szr{
          width: 13vw;
          height: 13vw;
          p{

          }
        }
        .seeds{
          margin-right: 2vw;
        }
      }
    }
    .foot{
      position: absolute;
      p{
        position: relative;
        bottom: -94vh;
        color: #F7F7F7;
        left: 2vw;
      }
      .social{
        position: relative;
        bottom: -92vh;
        display: flex;
        align-items: center;
        margin-left: 93.5vw;
        svg{
          &:nth-child(1){
            margin-right: 40px;
          }
        }
      }
    }
  }
}