.partners{
  background: #f6f6f6;
  display: grid;
  justify-content: start;

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
    .partner{
      width: 100vw;
      height: 100vw;
    }
    .mobile{
      visibility: hidden;
      width: 0;
      height: 0;
    }
  }
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
    .partner{
      width: 24.7vw;
      height: 24.7vw;
    }

  }
  .partner{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E4E4E4;
    img{
      mix-blend-mode: multiply;
    }
  }
}
// todo: решить вопрос с переносом при уменьшении разрешения